.haskify-header {
  font-family: 'Jura', sans-serif; 
  background-color: #f1f1f1;
  padding: 1rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.header-content {
  max-width: 100%; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 0;
}

.logo {
  height: 50px;
  width: auto;
}

.app-name {
  font-size: 2.5rem;
  font-weight: 700; 
  color: #333;
}

.header-nav {
  display: flex;
  gap: 1.5rem;
  margin-right: 0;
}

.nav-link {
  background-color: #D9D9D9;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-link-button {
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
  color: #333;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
  font-family: inherit;
  text-decoration: none;
}

.nav-link-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.logo-container,
.app-name,
.header-nav,
.nav-link {
  font-family: inherit; 
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-id {
  color: #718096;
  font-size: 14px;
}


.logout-button {
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
  color: #ef4444;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
  font-family: inherit;
  text-decoration: none;
}

.logout-button:hover {
  background-color: rgba(245, 80, 80, 0.272);
}
