.haskify-footer {
  background-color: #e7e7e7;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Jura', sans-serif;
  border-top: 1px solid #d0d0d0;
  margin-top: auto; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: -20px auto;
  font-size: 0.2rem;
}

.footer-link {
  color: #333;
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.footer-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.footer-link:active,
.footer-link:focus {
  outline: none;
}

.copyright {
  color: #333;
  font-weight: 500;
  font-size: 1.3rem;
}